
<br />
<a asp-action="OdemeYap">Ödeme Yapmak İçin Tıklayınız.</a> |
<a asp-action="BakiyeGor" asp-controller="Bakiye">Bakiye Gör</a> |
<a asp-action="HareketDokumu" asp-controller="Bakiye">Hareket Dökümü</a> |
<a asp-action="CiktiAl" asp-controller="Bakiye">Çıktı Al</a>